body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  background #F7E0CE
a
  color: #212121
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px
.h8
    font-size 10px
    color #343434
    padding 0px
  
#employees
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  .employee
    margin 20px
    .created_at
        display none
    .title
        font-weight bold
        background-color #eee
    .name
        background-color #ffa
       input#delete
    	   margin-top -17px
    	   margin-left 255px
       input#edit
    	   margin-top -20px
    	   margin-left 215px
.newemployee
    border: 3px 
    border-style solid 
    border-color #a36b5e
    width 450px
    margin-left auto
    margin-right auto
    padding 1px
    border-radius 8px
  input[type =text]
    width 150px
    margin-left auto
    margin-right auto
  input[type =button], input[type =submit]
    clear both
    text-align center
    margin-left auto
    margin-right auto
    display block
  .label
      width 150px
      text-align right !important
      display block
      float left
.result
    float center
    display block
    background #c2846b
    padding 0px
    border 7px
    border-radius 10px
    border-color #F7E0CE
    width 200px
    border-style solid
    margin-left auto
    margin-right auto
    display inline-block
    cursor: hand
    cursor: pointer
.data
    float center
    background #708090
    display block
    padding 0px
    width 700px
    margin-left auto
    margin-right auto
    display inline-block
    border 7px
    border-color #F7E0CE
    border-style solid
    border-radius 10px
.butt
    text-decoration: underline
    background #c2846b
    font-size 13px
    color: #212121
    border: none
.butt2
    cursor: hand
    cursor: pointer
    background #c2846b
    font-size 18px
    color: #212121
    border: none
.hide
    display none
.resultmuestra
    float center
    display block
    background #c2846b
    padding 0px
    border 7px
    border-radius 10px
    border-color #F7E0CE
    width 400px
    border-style solid
    margin-left auto
    margin-right auto
.datamuestra
    float center
    background #708090
    display block
    padding 0px
    width 700px
    margin-left auto
    margin-right auto
    display block
    border 7px
    border-color #F7E0CE
    border-style solid
    border-radius 10px
.inf
    float center
    display inline-block
    background #c2846b
    padding 5px
    border 7px
    border-radius 10px
    border-color #F7E0CE
    width 150px
    border-style solid
    margin-left auto
    margin-right auto
    cursor: hand
    cursor: pointer