extends layout

block content

    h1 Participantes
    br
    br
    br
    p
    a(href="/"): h2 Cempasúchil
    h3 Corpus sociolingüístico de español mensajeado para el análisis del habla universitaria
    h3 se desarrolló dentro del Grupo de Ingeniería Lingüística de la UNAM.
    br
    br
    br
    h2 Coordinación general :
    h3 Lic. Miguel Alejandro Dorantes Cruz
    h3 Tlauhlia Yamín Donohue Pérez
    br
    br
    h2 Asesor: 
    h3 Dr. Gerardo Sierra Martínez 
    br
    br
    div
        h2 Equipo de trabajo: 
        h3 Ana Laura Del Prado Mota
        h3 Mayra Paulina Díaz Rojas
        h3 Mónica Gabriela Jasso Rosales
        h3 Eduardo Daniel Rivera Peñaloza 
    br
    br
    h2 Desarrollo informático:
    h3 Paola Sánchez González
    br
    br
    br
    h2 Este proyecto fue realizado con el apoyo de la Red Temática en Tecnologías del Lenguaje.
        